*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: rgb(136, 173, 136);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2, h3 {
    margin: 10px;
    color:rgb(14, 58, 14);
    text-shadow: 1px 1px 1px lightgrey;
}
h1 {
    text-transform: uppercase;
}